<% if @conversations.present? %>
  <% @conversations.each do |conversation| %>
    <% other = current_user== conversation.sender ? conversation.recipient : conversation.sender %>
    <div class="row">
      <%= other.email %>
      <%= link_to conversation_messages_path(conversation)  do %>
        <div class="col-md-2">
          <%= image_tag gravatar_for(other), class: "image-circle avatar-small" %>
        </div>
        <div class="col-md-2">
          <%= other.fullname %><br>
          <%= conversation.messages.last.sent_time %>
        </div>
        <div class="col-md-8">
          <%= conversation.messages.last.content %>
        </div>

      <% end %>
    </div>
  <% end %>
<% end %>