
<%= form_for([@room, @room.reservations.new]) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <label>Check In</label>
      <%= f.text_field :start_date, readonly: true, placeholder: "Start Date", class: "form-control" %>
    </div>

    <div class="col-md-6">
      <label>Check In</label>
      <%= f.text_field :end_date, readonly: true, placeholder: "End Date", class: "form-control" %>
    </div>

    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.hidden_field :price, value: @room.price %>
    <%= f.hidden_field :total, id: 'reservation_total' %>

    <div class="preview">
      <h4><span id="message"> Input Check-in & Check-out Date</span></h4>
      <table class="reservation-table" style="display:none;">
        <tbody>
          <tr>
            <td>Day(s)</td>
            <td><span id="reservation_days"></span></td>
          </tr>
           <tr>
            <td>Total</td>
            <td><span id="reservation_total_cost"></span></td>
          </tr>
        </tbody>
      </table>
      <br>
      <%= f.submit "Book Now", class: "btn btn-primary", id: 'btn_book' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  function unavailable(date) {
    dmy = date.getDate() +'-' + (date.getMonth()+1) + '-' + date.getFullYear();
    return [$.inArray(dmy, unAvailableDates)==-1];
  }
  $(function(){
    unAvailableDates = [];
    $.ajax({
      dataType: 'json',
      url: '/preload',
      data: {
        'room_id':<%= @room.id %>
      },
      success: function(data){
        $.each(data, function(arr, obj){
          for(var d = new Date(obj.start_date); d<= new Date(obj.end_date); d.setDate(d.getDate() +1)){
            unAvailableDates.push($.datepicker.formatDate('d-m-yy', d));
          }
        });
      }
    });
    $('#reservation_start_date').datepicker({
      dateFormat: "dd-mm-yy",
      beforeShowDay: unavailable,
      onSelect: function(selectedDate) {
        $('#reservation_end_date').datepicker("option", "minDate", selectedDate);
      }
    });
    $('#reservation_end_date').datepicker({
      dateFormat: "dd-mm-yy",
      beforeShowDay: unavailable,
      onSelect: function(selectedDate){
        $('#reservation_start_date').datepicker("option", "maxDate", selectedDate);
        var start_date = $('#reservation_start_date').datepicker('getDate');
        var end_date = $(this).datepicker('getDate');
        var days = (end_date - start_date)/1000/60/60/24 + 1;
        var check_conflict_data = {
          'start_date': start_date,
          'end_date': end_date,
          'room_id': <%= @room.id %>
        };
        $.ajax({
          url: '/preview',
          dataType: 'json',
          data: check_conflict_data,
          success: function(data){
            if(data.conflict){
              $('#message').text('This date range is unavailable');
              $('.reservation-table').hide();
              $('#btn_book').attr('disabled', true);
            }else{
              $('#message').text('This date range is available');

              $('#btn_book').attr('disabled', false);
              var total = days * <%= @room.price %>;
              $('#reservation_days').text(days);
              $('#reservation_total_cost').text(total);
              $('#reservation_total').val(total);
              $('.reservation-table').show();
            }
          }
        });
      }
    });
  });

</script>