<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to "Your listing", rooms_path %>
      </li>
      <li class="sidebar-item">
        <%= link_to "Your reservations", reservations_path %>
      </li>
      <li class="sidebar-item">
        <%= link_to "Your trips", your_trips_path %>
      </li>
    </ul>
  </div>
  <div class="col-md-9">

    <div class="panel panel-default">
      <div class="panel panel-heading">Listing</div>
      <div class="panel panel-body">
        <% @reservations.each do |reservation| %>
          <div class="row">
            <div class="col-md-2">
              <%= link_to room_path(reservation.room) do %>
                <%= image_tag reservation.room.photos.first.image.url(:thumb) if reservation.room.photos.length > 0 %>
              <% end %>
            </div>
            <div class="col-md-5">
              <h4><%= reservation.start_date.to_date %></h4>
            </div>
            <div class="col-md-5 right">
              <h4><%= reservation.end_date.to_date %></h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
