<h4> Average Rate is <%= @room.average_rating %> with <%= @room.reviews.count %> </h4>
<br>
<div class="row">
  <% @reviews.each do |review| %>
    <div class="col-md-12">
      <div class="col-md-1">
        <%=image_tag gravatar_for(review.user), class: "img-circl avatar-small" %>
      </div>
      <div class="col-md-2">
        <%= review.star %>
      </div>
      <div class="col-md-6">
        <%= review.comment %>
        <%= review.created_at.strftime("%v") %>
      </div>
      <div class="col-md-2">
        <%= link_to "Remove my review", room_reviews_path(@room, review), method: :delete, data: {confirm: "Are you sure to remove this review"} if current_user && current_user==review.user%>
      </div>
    </div>
  <% end %>
</div>